body {
    background-color: peachpuff;
}

h1 {
    color: red;
    font-size: 60px;
}

h3.barbacoa {
    color: purple;
}

h3 {
    color: orange;
}

p {
    color: green;
}

img {
    width: 250px;
}

ul li a {}